.poll(
  v-for='o in polls_inview',
  :key='o.poll.id'
).neat-box

  .voted-box(v-show=`poll_view__voted(o.poll)`)
    .voted
      i.fa.fa-check
      span voted

  .heading
    .question.more_line_height {{o.poll.question}}
    .row
      .mindthegap(
        v-if='user_id === undefined')
      .setting-btn(
        @click='poll_view__settings_toggle(o.poll)',
        v-if='user_id !== undefined')
        i.fa.fa-cog.settings-icon(aria-hidden='true')
        span.settings-txt settings
      .author
        span.author-txt {{o.poll.user_id}}
        img.author-img(:src=`'https://twitter.com/'+o.poll.user_id+'/profile_image'`)

  .row.settings(
    v-show='o.view_settings && user_id !== undefined')
    .row.add_option.btn-text(
      @click='add_poll_option(o.poll)') add poll option
    .row.remove_poll_option.btn-text(
      v-if='user_id === o.poll.user_id && o.poll.options.length > 2'
      @click='remove_poll_option(o.poll)') remove poll option
    .row.delete_poll.btn-text(
      v-if='user_id === o.poll.user_id'
      @click='delete_poll(o.poll.id)') delete poll

  .row.options(v-show='!o.view_results')
    .row.option-vote(v-for='option in o.poll.options')
      button.option-vote-tick-box(@click='poll_view__vote_tick(o, option.option)')
        i.fa.fa-check(
          :class=`{"check-watermark": option.option !== o.vote_tick}`)
        .vote-stamp(v-show='poll_view__votestamp(o.poll, option.option)')
      .option-vote-value.more_line_height {{ option.option }}
    .row.option-vote-send
      .status
      button.btn(@click='poll_view__vote_cast(o.poll)')
        span vote
        i.fa.fa-paper-plane-o(aria-hidden='true')

  .row.results(v-show='o.view_results')
    table(v-show=`o.view_results_mode === 'n'`)
      tr(v-for=`option in o.poll.votes[poll_view__anom_voters_view]`)
        td.results-option {{ option.option }}
        td.results-count {{ option.count }}
    .row.results-pie(
      v-show=`o.view_results_mode === 'pie'`
    )
      vue-chart(
        :chart-type='o.chart.type',
        :columns="o.chart.columns",
        :rows="o.chart.rows",
        :options="o.chart.options"
      )
    .row.results-anom_voters_view(v-show='o.view_results')
      .btn-text(@click='poll_view__anom_voter_tog()')
        span(v-show=`poll_view__anom_voters_view === 'all'`) hide
        span(v-show=`poll_view__anom_voters_view === 'no_anom'`) show
        span  anomynous voters

  .row.line
  .row.resultsbar
    button.btn-text(@click='poll_view__showresults(o, !o.view_results)')
      span(v-show='o.view_results === false') show
      span(v-show='o.view_results === true') hide
      span  results
    .resultsbar-icons
      .flex-center(
        @click=`poll_view__showresults(o, 'n')`
      ): i.n n
      //- .flex-center: i.fa.fa-bar-chart
      .flex-center(
        @click=`poll_view__showresults(o, 'pie')`
      ): i.fa.fa-pie-chart

  .row.line
  .row
    //- TODO new twitter tab onclick with short link
    .btn-text share this poll on twitter
    i.fa.fa-twitter
