.poll_create.neat-box
  h2 Create Poll
  .row.question
    label question:
    textarea.vert(
      placeholder='your poll question?'
      v-model='poll_create.question'
      @input='poll_create__validate()'
    )
    .form_err(
      v-for='err in poll_create__errs',
      v-show='err.field === "poll.question"'
    )
      i.fa.fa-exclamation-circle.err-red
      span.form_err_msg {{ err.msg }}
  .row.options
    label vote options:
    .input-options
      .input-option(v-for='(option, i) in poll_create.options')
        i.fa.fa-close.input-option-remove(
          v-if='i>1'
          @click='poll_create__remove_option(i)'
        )
        span.input-li {{ (Number(i)+1) }}.
        input(
          placeholder='option',
          :value='poll_create.options[i]',
          @input='poll_create.options[i] = $event.target.value; poll_create__validate()'
        )
      button.btn-text.add-option(@click='poll_create__add_option') + option
      .form_err(
        v-show='poll_create__option_blank'
      )
        i.fa.fa-exclamation-circle.err-red
        span.form_err_msg no blank options
  .form--space-between
    .form-status {{poll_create__status}}
    button.form-submit.btn(
      type='submit',
      @click='poll_create__post',
      :class='{disabled: poll_create__errs.length !== 0}'
    )
      span post
      i.fa.fa-paper-plane-o(atria-hidden='true')
